.container {
  padding-left: $sidePadding;
  @include grid;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    padding: $mobile-padding;
    flex-direction: column;

    .card {
      width: $mobile-img-width;
    }
  }
}