.post-container {
  @include grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
}

@media (max-width: $breakpoint-mobile) {
  .post-container {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    justify-content: space-evenly;
    .card {
      margin: 12px auto;
    }
  }
}