button {
  background-color: $primary;
  height: 36px;
  width: 106px;
  left: 16px;
  top: 123px;
  border-radius: 4px;
  border: none;
  color: $textSelected;
  &:hover {
    cursor: pointer;
  }
}
