.header {
  padding: 147px;
  @include grid;
  .header-img {
    min-width: 464px;
    height: 281px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
  }
  .article {
    height: 400px;
    width: 400px;
    padding-left: 126px;
  }
}
