.header {
  @include grid;
  padding: 0 $sidePadding;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  margin-bottom: 36px;
  .header-img-link {
    width: 50%;
    .main-post-img {
      object-fit: fill;
      width: 100%;
      height: auto;
      min-height: 220px;
      min-width: 320px;

      border: 1px solid rgba(0, 0, 0, 0.08);
      box-sizing: border-box;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
      border-radius: 26px;
    }
  }
  .header-img {
    width: 464px;
    height: 281px;
  }
  .article {
    width: 400px;
    .main-title {
      font-size: 3rem;
    }

    .main-description {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding: $mobile-padding;
    flex-direction: column;
    align-items: center;
    .header-img-link {
      width: 100%;
      .header-img {
        width: $mobile-img-width;
        img {
          object-fit: fill;
          max-width: $mobile-img-width;
        }
      }
    }
    .article {
      margin-top: 32px;
      height: 400px;
      width: 100%;
      padding-left: 0px;
      text-align: center;
    }
  }
}
