#header {
  @include grid;
  padding: 62px $sidePadding;
  align-items: center;

  #links {
    text-align: center;
    flex-grow: 0.8;
    .link {
      padding: 6px 12px;
      border-radius: 1000px;
      margin: 24px;
      &:hover {
        background-color: $gray200;
      }
      &.is-selected {
        background-color: $primary;
        color: $textSelected;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  #header {
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    a {
      padding: $mobile-padding;
    }
    #links {
      position: fixed;
      bottom: 0;
      background-color: #fff;
      padding: 40px 0;
      margin: 0 auto;
      width: 100%;
    }
  }
}
