.footer {
  padding: $sidePadding $sidePadding;

  .social-links {
    & > a {
      padding-right: 24px;
    }
    justify-content: space-between;
  }
}

@media (max-width: $breakpoint-mobile) {
  .footer {
    padding: $mobile-padding;
    width: $mobile-article-width;
    height: 120px;
  }
}