@font-face {
  font-family: $font-family;
  src: url("/fonts/Inter-Regular.ttf");
}

body {
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $textLink;
  font-size: $small-font-size;
  font-weight: 400;
}

a:visited {
  color: $textLinkVisited;
}

p {
  font-weight: 400;
  font-size: $small-font-size;
  color: $smallText;
  line-height: 18px;
}

button {
  font-weight: 600;
  font-size: 12px;
}

h1 {
  font-size: $big-font-size;
}

h2 {
  font-size: $medium-font-size;
  line-height: 2em;
}

h5 {
  font-size: $medium-font-size;
}
